@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Raleway', sans-serif;
  }

  .color-wwhite {
    @apply text-[#ccd6f6];
  }

  .color-gray {
    @apply text-[#8892b0];
  }

  .blue-background {
    @apply bg-[#0a192f];
  }

  .grey-blackground {
    @apply bg-[#333333];
  }

  .lgrey-blackground {
    @apply bg-[#565f69];
  }

  .cyan-blackground {
    @apply bg-[#6fc2b0];
  }

  .navbar-li {
    @apply px-4 cursor-pointer hover:underline hover:decoration-pink-600;
  }

  .mobile-li {
    @apply py-6 text-4xl;
  }

  .social-li {
    @apply w-[160px] h-[60px] flex justify-between items-center  duration-300 ml-[-90px] hover:ml-[-10px];
  }

  .social-a {
    @apply flex justify-around items-center w-full text-gray-300;
  }

  .social-svg {
    @apply text-4xl;
  }

  .main-button {
    @apply text-white border-2 px-6 py-3 my-2 flex items-center hover:bg-pink-600 hover:border-pink-600 button-animation duration-300;
  }

  .button-animation:hover span {
    @apply rotate-90;
  }

  .about-grid {
    @apply w-full grid gap-8;
  }

  .contact-input {
    @apply py-1 px-2 bg-[#ccd6f6] focus:outline-none;
  }

  .contact-label {
    @apply py-1 text-white mt-4 cursor-pointer w-fit;
  }

  .default-pink-button {
    @apply mt-8 text-white border-2 hover:bg-pink-600 hover:border-pink-600 px-4 py-3 mx-auto duration-300 w-[200px] text-center;
  }

  .disabled-button {
    @apply mt-8 border-2 px-4 py-3 mx-auto w-[200px] text-center duration-300 cursor-not-allowed opacity-80 text-gray-600 border-gray-600 !important;
  }

  .text-shadow-warning {
    text-shadow: 1.5px 1.5px 1.5px #000, -1.5px -1.5px 1.5px #000;
  }

  .text-shadow {
    text-transform: uppercase;
    text-shadow:
      0 0 1.25px #fff,
      0 0 2.5px #fff,
      0 0 3.75px #fff,
      0 0 5px #ff00de,
      0 0 8.75px #ff00de,
      0 0 10px #ff00de,
      0 0 12.5px #ff00de,
      0 0 19.5px #ff00de;
  }

  .project-title {
    @apply ;
  }

  .project-link {
    @apply text-white border-2 hover:bg-pink-600 hover:border-pink-600 px-4 py-3 duration-300 text-center w-[45%] mx-[2,5%] max-w-[150px];
  }
}

/* scrollbar styles */
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  box-shadow: 0px 0px 0px 10px inset;
}
::-webkit-scrollbar-thumb {
  color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  width: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  width: 6px;
}

@media(max-width: 900px) {
  .experience-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }

  .experience-title {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .experience-article {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 32px 0;
    margin-bottom: 30px;
    height: 20%;
  }

  .experience-titles {
    width: 100%;
  }

  .experience-title-title {
    font-size: 26px;
  }

  .experience-title-company {
    color: #db2777;
    font-size: 24px;
    font-weight: 600;
  }

  .experience-tech {
    width: 100%;
  }

  .experience-tech p {
    margin-right: 10px;
    text-decoration: underline;
    display: inline-block;
    color: #8892b0;
  }
}

@media(min-width: 900px) {
  .experience-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }

  .experience-title {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .experience-article {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 32px 0;
    margin-bottom: 20px;
    height: 20%;
    margin-left: 40px;
  }

  .experience-titles {
    width: 40%;
    border-right: 1px solid #d1d5db;
    padding-right: 5px;
  }

  .experience-title-title {
    font-size: 24px;
  }

  .experience-title-company {
    color: #db2777;
    font-size: 24px;
    font-weight: 600;
  }

  .experience-tech {
    width: 40%;
    padding-left: 10px;
    border-bottom: 1px solid #d1d5db;
  }

  .experience-tech p {
    margin-right: 10px;
    text-decoration: underline;
    display: inline-block;
    color: #8892b0;
  }
}
